
.container {
    padding-top: 50px;
    
}

.aboutme {
    font-size: 25px;
    color: yellow;
    font-weight: bold;
    padding: 0 5px 10px;
    border-bottom: 2px rgba(234, 245, 245, 0.961) solid;
}
    

.col-md-12 {
    background: rgb(205, 133, 205);
    height: 500px;
    padding-top: 20px;
    border: 2px rgba(234, 245, 245, 0.961) solid;
}

p {
    padding-top: 15px;
    line-height: 30px;
    font-size: 20px;
    color:black;
}


 img {
     position: relative;
     float: left;
     width: 280px;
     height: 360px;
     padding: 25px 10px 5px 0;
 }

 @media (max-width: 952px) {
    img {
    position: relative;
    float: left;
    width: 150px;
    height: 200px;
    padding: 10px 10px 0 0;
    }
    p {
    padding-top: 15px;
    line-height: 30px;
    font-size: 12px;
    
    }
 }