* {
    margin: 0;
    padding: 0;
}

.container h1 {
    font-size: 25px;
    color: yellow;
    font-weight: bold;
    padding-top: 10px;
    text-align: start;
    padding-bottom: 5px;
    border-bottom: 2px rgba(234, 245, 245, 0.961) solid;
}

.container {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(200, 122, 245);
    line-height: 30px;
    border: 2px rgba(234, 245, 245, 0.961) solid;
    border-radius: 10px;
}

img {
    position: relative;
    padding-top: 25px;
    image-rendering: auto;
    height: 300px;
    width: 350px;
}






